### Загрузка данных и импортирование библиотеки `pandas`

In [2]:
import pandas as pd

# Создаем словарь с данными о собаках (20 записей)
data = {
    'Name': ['Сноу', 'Рекс', 'Макс', 'Луна', 'Джек', 'Мило', 'Бэйли', 'Лола', 'Тедди', 'Макс',
             'Бентли', 'Джесси', 'Чарли', 'Максимус', 'Оливер', 'Чарли', 'Луи', 'Белль', 'Сади', 'Сэнди'],
    'Breed': ['Лабрадор', 'Бульдог', 'Далматин', 'Ши-тцу', 'Йоркширский терьер', 'Лабрадор', 'Чихуахуа', 'Шарпей', 'Бассет-хаунд', 'Померанский',
              'Золотистый ретривер', 'Бордер-колли', 'Боксер', 'Ротвейлер', 'Доберман', 'Шиба-ину', 'Бостон-терьер', 'Френч бульдог', 'Хаски', 'Акита'],
    'Color': ['Шоколадный', 'Палевый', 'Черно-белый', 'Белый', 'Серый', 'Абрикосовый', 'Черный', 'Коричневый', 'Трехцветный', 'Оранжевый',
              'Золотистый', 'Черно-белый', 'Тигровый', 'Черный и рыжий', 'Черный и коричневый', 'Трехцветный', 'Черно-белый', 'Белый', 'Серо-белый', 'Коричневый'],
    'Height (cm)': [60, 40, 55, 25, 20, 58, 20, 40, 30, 25, 60, 50, 55, 70, 45, 30, 25, 35, 45, 60],
    'Weight (kg)': [30, 25, 20, 5, 3, 27, 3, 15, 10, 4, 25, 18, 30, 40, 12, 6, 5, 8, 12, 30],
    'Date of Birth': ['2015-02-10', '2018-06-05', '2017-11-20', '2019-04-15', '2020-09-30',
                      '2016-03-25', '2019-08-12', '2018-01-03', '2020-05-19', '2017-09-28',
                      '2016-07-14', '2019-02-08', '2017-04-22', '2015-09-07', '2016-12-30',
                      '2018-11-17', '2020-03-08', '2019-10-12', '2016-06-23', '2015-08-02']
}

# Создаем датафрейм из словаря
dogs = pd.DataFrame(data)

# Выводим датафрейм
print(dogs)

        Name                Breed                Color  Height (cm)  \
0       Сноу             Лабрадор           Шоколадный           60
1       Рекс              Бульдог              Палевый           40
2       Макс             Далматин          Черно-белый           55
3       Луна               Ши-тцу                Белый           25
4       Джек   Йоркширский терьер                Серый           20
5       Мило             Лабрадор          Абрикосовый           58
6      Бэйли             Чихуахуа               Черный           20
7       Лола               Шарпей           Коричневый           40
8      Тедди         Бассет-хаунд          Трехцветный           30
9       Макс          Померанский            Оранжевый           25
10    Бентли  Золотистый ретривер           Золотистый           60
11    Джесси         Бордер-колли          Черно-белый           50
12     Чарли               Боксер             Тигровый           55
13  Максимус            Ротвейлер       Черный и рыжий           70
14    Оливер             Доберман  Черный и коричневый           45
15     Чарли             Шиба-ину          Трехцветный           30
16       Луи        Бостон-терьер          Черно-белый           25
17     Белль        Френч бульдог                Белый           35
18      Сади                Хаски           Серо-белый           45
19     Сэнди                Акита           Коричневый           60

    Weight (kg) Date of Birth
0            30    2015-02-10
1            25    2018-06-05
2            20    2017-11-20
3             5    2019-04-15
4             3    2020-09-30
5            27    2016-03-25
6             3    2019-08-12
7            15    2018-01-03
8            10    2020-05-19
9             4    2017-09-28
10           25    2016-07-14
11           18    2019-02-08
12           30    2017-04-22
13           40    2015-09-07
14           12    2016-12-30
15            6    2018-11-17
16            5    2020-03-08
17            8    2019-10-12
18           12    2016-06-23
19           30    2015-08-02

In [3]:
dogs.head()

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10
1,Рекс,Бульдог,Палевый,40,25,2018-06-05
2,Макс,Далматин,Черно-белый,55,20,2017-11-20
3,Луна,Ши-тцу,Белый,25,5,2019-04-15
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30

In [4]:
dogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           20 non-null     object
 1   Breed          20 non-null     object
 2   Color          20 non-null     object
 3   Height (cm)    20 non-null     int64
 4   Weight (kg)    20 non-null     int64
 5   Date of Birth  20 non-null     object
dtypes: int64(2), object(4)
memory usage: 1.1+ KB

In [5]:
dogs.shape

(20, 6)

In [6]:
dogs.values

array([['Сноу', 'Лабрадор', 'Шоколадный', 60, 30, '2015-02-10'],
       ['Рекс', 'Бульдог', 'Палевый', 40, 25, '2018-06-05'],
       ['Макс', 'Далматин', 'Черно-белый', 55, 20, '2017-11-20'],
       ['Луна', 'Ши-тцу', 'Белый', 25, 5, '2019-04-15'],
       ['Джек', 'Йоркширский терьер', 'Серый', 20, 3, '2020-09-30'],
       ['Мило', 'Лабрадор', 'Абрикосовый', 58, 27, '2016-03-25'],
       ['Бэйли', 'Чихуахуа', 'Черный', 20, 3, '2019-08-12'],
       ['Лола', 'Шарпей', 'Коричневый', 40, 15, '2018-01-03'],
       ['Тедди', 'Бассет-хаунд', 'Трехцветный', 30, 10, '2020-05-19'],
       ['Макс', 'Померанский', 'Оранжевый', 25, 4, '2017-09-28'],
       ['Бентли', 'Золотистый ретривер', 'Золотистый', 60, 25,
        '2016-07-14'],
       ['Джесси', 'Бордер-колли', 'Черно-белый', 50, 18, '2019-02-08'],
       ['Чарли', 'Боксер', 'Тигровый', 55, 30, '2017-04-22'],
       ['Максимус', 'Ротвейлер', 'Черный и рыжий', 70, 40, '2015-09-07'],
       ['Оливер', 'Доберман', 'Черный и коричневый', 45, 12,
        '2016-12-30'],
       ['Чарли', 'Шиба-ину', 'Трехцветный', 30, 6, '2018-11-17'],
       ['Луи', 'Бостон-терьер', 'Черно-белый', 25, 5, '2020-03-08'],
       ['Белль', 'Френч бульдог', 'Белый', 35, 8, '2019-10-12'],
       ['Сади', 'Хаски', 'Серо-белый', 45, 12, '2016-06-23'],
       ['Сэнди', 'Акита', 'Коричневый', 60, 30, '2015-08-02']],
      dtype=object)

In [7]:
dogs.describe()

       Height (cm)  Weight (kg)
count    20.000000    20.000000
mean     42.400000    16.400000
std      15.574608    11.287627
min      20.000000     3.000000
25%      28.750000     5.750000
50%      42.500000    13.500000
75%      55.750000    25.500000
max      70.000000    40.000000

In [8]:
dogs.columns

Index(['Name', 'Breed', 'Color', 'Height (cm)', 'Weight (kg)',
       'Date of Birth'],
      dtype='object')

In [9]:
dogs.index

RangeIndex(start=0, stop=20, step=1)

In [15]:
dogs.sort_values('Weight (kg)')

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12
9,Макс,Померанский,Оранжевый,25,4,2017-09-28
3,Луна,Ши-тцу,Белый,25,5,2019-04-15
16,Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08
15,Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17
17,Белль,Френч бульдог,Белый,35,8,2019-10-12
8,Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19
18,Сади,Хаски,Серо-белый,45,12,2016-06-23
14,Оливер,Доберман,Черный и коричневый,45,12,2016-12-30
7,Лола,Шарпей,Коричневый,40,15,2018-01-03
11,Джесси,Бордер-колли,Черно-белый,50,18,2019-02-08
2,Макс,Далматин,Черно-белый,55,20,2017-11-20
1,Рекс,Бульдог,Палевый,40,25,2018-06-05
10,Бентли,Золотистый ретривер,Золотистый,60,25,2016-07-14
5,Мило,Лабрадор,Абрикосовый,58,27,2016-03-25
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10
12,Чарли,Боксер,Тигровый,55,30,2017-04-22
19,Сэнди,Акита,Коричневый,60,30,2015-08-02
13,Максимус,Ротвейлер,Черный и рыжий,70,40,2015-09-07

In [16]:
dogs.sort_values('Weight (kg)', ascending=False)

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
13,Максимус,Ротвейлер,Черный и рыжий,70,40,2015-09-07
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10
12,Чарли,Боксер,Тигровый,55,30,2017-04-22
19,Сэнди,Акита,Коричневый,60,30,2015-08-02
5,Мило,Лабрадор,Абрикосовый,58,27,2016-03-25
1,Рекс,Бульдог,Палевый,40,25,2018-06-05
10,Бентли,Золотистый ретривер,Золотистый,60,25,2016-07-14
2,Макс,Далматин,Черно-белый,55,20,2017-11-20
11,Джесси,Бордер-колли,Черно-белый,50,18,2019-02-08
7,Лола,Шарпей,Коричневый,40,15,2018-01-03
14,Оливер,Доберман,Черный и коричневый,45,12,2016-12-30
18,Сади,Хаски,Серо-белый,45,12,2016-06-23
8,Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19
17,Белль,Френч бульдог,Белый,35,8,2019-10-12
15,Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17
3,Луна,Ши-тцу,Белый,25,5,2019-04-15
16,Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08
9,Макс,Померанский,Оранжевый,25,4,2017-09-28
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12

In [23]:
dogs.sort_values(by=['Weight (kg)', 'Height (cm)'], ascending=[False, True])

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
13,Максимус,Ротвейлер,Черный и рыжий,70,40,2015-09-07
12,Чарли,Боксер,Тигровый,55,30,2017-04-22
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10
19,Сэнди,Акита,Коричневый,60,30,2015-08-02
5,Мило,Лабрадор,Абрикосовый,58,27,2016-03-25
1,Рекс,Бульдог,Палевый,40,25,2018-06-05
10,Бентли,Золотистый ретривер,Золотистый,60,25,2016-07-14
2,Макс,Далматин,Черно-белый,55,20,2017-11-20
11,Джесси,Бордер-колли,Черно-белый,50,18,2019-02-08
7,Лола,Шарпей,Коричневый,40,15,2018-01-03
14,Оливер,Доберман,Черный и коричневый,45,12,2016-12-30
18,Сади,Хаски,Серо-белый,45,12,2016-06-23
8,Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19
17,Белль,Френч бульдог,Белый,35,8,2019-10-12
15,Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17
3,Луна,Ши-тцу,Белый,25,5,2019-04-15
16,Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08
9,Макс,Померанский,Оранжевый,25,4,2017-09-28
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12

In [24]:
dogs['Name']

0         Сноу
1         Рекс
2         Макс
3         Луна
4         Джек
5         Мило
6        Бэйли
7         Лола
8        Тедди
9         Макс
10      Бентли
11      Джесси
12       Чарли
13    Максимус
14      Оливер
15       Чарли
16         Луи
17       Белль
18        Сади
19       Сэнди
Name: Name, dtype: object

In [26]:
dogs[['Name', 'Breed']]

        Name                Breed
0       Сноу             Лабрадор
1       Рекс              Бульдог
2       Макс             Далматин
3       Луна               Ши-тцу
4       Джек   Йоркширский терьер
5       Мило             Лабрадор
6      Бэйли             Чихуахуа
7       Лола               Шарпей
8      Тедди         Бассет-хаунд
9       Макс          Померанский
10    Бентли  Золотистый ретривер
11    Джесси         Бордер-колли
12     Чарли               Боксер
13  Максимус            Ротвейлер
14    Оливер             Доберман
15     Чарли             Шиба-ину
16       Луи        Бостон-терьер
17     Белль        Френч бульдог
18      Сади                Хаски
19     Сэнди                Акита

### Фильтры в pandas

Далее будут **примеры** использования фильтров в `pandas`.

In [28]:
print(dogs['Height (cm)'] > 50)

0      True
1     False
2      True
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10     True
11    False
12     True
13     True
14    False
15    False
16    False
17    False
18    False
19     True
Name: Height (cm), dtype: bool

In [27]:
dogs[dogs['Height (cm)'] > 50]

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10
2,Макс,Далматин,Черно-белый,55,20,2017-11-20
5,Мило,Лабрадор,Абрикосовый,58,27,2016-03-25
10,Бентли,Золотистый ретривер,Золотистый,60,25,2016-07-14
12,Чарли,Боксер,Тигровый,55,30,2017-04-22
13,Максимус,Ротвейлер,Черный и рыжий,70,40,2015-09-07
19,Сэнди,Акита,Коричневый,60,30,2015-08-02

In [30]:
dogs[dogs['Breed'] == 'Лабрадор']

   Name     Breed        Color  Height (cm)  Weight (kg) Date of Birth
0  Сноу  Лабрадор   Шоколадный           60           30    2015-02-10
5  Мило  Лабрадор  Абрикосовый           58           27    2016-03-25

In [39]:
# str_1 = 'это очень "важный" текст'
str_1 = "это очень \"важный\" текст"
str_2 = "I don't speak English"
print(str_2)

I don't speak English

In [ ]:
dogs[dogs['Date of Birth'] > '2017-11-20'] # 2025-03-31 13:21:34

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
1,Рекс,Бульдог,Палевый,40,25,2018-06-05
3,Луна,Ши-тцу,Белый,25,5,2019-04-15
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12
7,Лола,Шарпей,Коричневый,40,15,2018-01-03
8,Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19
11,Джесси,Бордер-колли,Черно-белый,50,18,2019-02-08
15,Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17
16,Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08
17,Белль,Френч бульдог,Белый,35,8,2019-10-12

In [43]:
is_small = dogs['Height (cm)'] < 50
is_black = dogs['Color'] == 'Черный'
dogs[is_small | is_black]

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth
1,Рекс,Бульдог,Палевый,40,25,2018-06-05
3,Луна,Ши-тцу,Белый,25,5,2019-04-15
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30
6,Бэйли,Чихуахуа,Черный,20,3,2019-08-12
7,Лола,Шарпей,Коричневый,40,15,2018-01-03
8,Тедди,Бассет-хаунд,Трехцветный,30,10,2020-05-19
9,Макс,Померанский,Оранжевый,25,4,2017-09-28
14,Оливер,Доберман,Черный и коричневый,45,12,2016-12-30
15,Чарли,Шиба-ину,Трехцветный,30,6,2018-11-17
16,Луи,Бостон-терьер,Черно-белый,25,5,2020-03-08
17,Белль,Френч бульдог,Белый,35,8,2019-10-12
18,Сади,Хаски,Серо-белый,45,12,2016-06-23

In [44]:
is_black_or_white = dogs['Color'].isin(['Черный', 'Белый'])
dogs[is_black_or_white]

     Name          Breed   Color  Height (cm)  Weight (kg) Date of Birth
3    Луна         Ши-тцу   Белый           25            5    2019-04-15
6   Бэйли       Чихуахуа  Черный           20            3    2019-08-12
17  Белль  Френч бульдог   Белый           35            8    2019-10-12

In [45]:
dogs['Height (m)'] = dogs['Height (cm)'] / 100
dogs.head()

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth,Height (m)
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10,0.60
1,Рекс,Бульдог,Палевый,40,25,2018-06-05,0.40
2,Макс,Далматин,Черно-белый,55,20,2017-11-20,0.55
3,Луна,Ши-тцу,Белый,25,5,2019-04-15,0.25
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30,0.20

In [46]:
dogs.shape

(20, 7)

In [48]:
dogs['BMI'] = dogs['Weight (kg)'] / dogs['Height (m)'] ** 2

In [49]:
dogs.head()

,Name,Breed,Color,Height (cm),Weight (kg),Date of Birth,Height (m),BMI
0,Сноу,Лабрадор,Шоколадный,60,30,2015-02-10,0.60,83.333333
1,Рекс,Бульдог,Палевый,40,25,2018-06-05,0.40,156.250000
2,Макс,Далматин,Черно-белый,55,20,2017-11-20,0.55,66.115702
3,Луна,Ши-тцу,Белый,25,5,2019-04-15,0.25,80.000000
4,Джек,Йоркширский терьер,Серый,20,3,2020-09-30,0.20,75.000000

In [50]:
dogs.describe()

       Height (cm)  Weight (kg)  Height (m)         BMI
count    20.000000    20.000000   20.000000   20.000000
mean     42.400000    16.400000    0.424000   81.044852
std      15.574608    11.287627    0.155746   22.088353
min      20.000000     3.000000    0.200000   59.259259
25%      28.750000     5.750000    0.287500   66.528926
50%      42.500000    13.500000    0.425000   77.500000
75%      55.750000    25.500000    0.557500   83.333333
max      70.000000    40.000000    0.700000  156.250000

In [51]:
dogs['Height (cm)'].mean()

np.float64(42.4)

In [56]:
def pct30(column):
    return column.quantile(0.3)

def pct70(column):
    return column.quantile(0.7)

dogs[['Weight (kg)', 'Height (m)', 'BMI']].agg([pct30, pct70])

       Weight (kg)  Height (m)        BMI
pct30          7.4        0.30  68.611111
pct70         25.0        0.55  82.142857

In [ ]:
!pip3 install notebook